*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.chat-container{
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
    border-radius: 11px;
    display: flex;
    box-shadow: 3px 10px 28px #0b2a5b;
    overflow: hidden;
    border: 1px solid #0b2a5b;
    background: #7292c4;
    margin-left: 100px;
    display: none;
}
.chat-header{
    min-height: 50px;
    overflow: hidden;
    background: #0b2a5b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #051b3f;
}
.chat-header .logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: rgb(81, 184, 243);
}
.logo h3{
    letter-spacing: 2px;
    margin-left: 10px;
}
.chat-header p{
    margin-right: 20px;
    cursor: pointer;
    opacity: 0.8;

}
.chat-section{
    padding: 20px;

}
.main-wrapper{
    width: 100%;
    height: 100%;
}
.chat-content{
    width: 100%;
    height: 450px;
    background: white;
    overflow: auto;
    box-shadow: inset 0 0 1px #111;
    padding: 0 10px;
    border-radius: 3px;
    scrollbar-width: none;

}

.chat-container .message{
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.message-row{
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 10px;
}
.you-message{
    justify-content: end;
    justify-items: end;
}
.other-message{
    justify-content: start;
    justify-items: start;
}
.message-text{
    padding: 9px 14px;
    margin-bottom:5px;
}

.message-time{
    font-size: 13px;
    color: gray;
}

.you-message .message-text{
    background: #245fbe;
    color: white;
    border: 1px solid #245fbe;
    border-radius: 15px 15px 0 16px;
}
.other-message .message-text{
    background: #bdeb52c9;
    color: white;
    border: 1px solid #97c727;
    border-radius: 15px 15px 0 16px;
}
.message-title span{
    font-size: 12px;
    text-transform: capitalize;
}
.msg-tex{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.msg-tex input,
 .msg-tex button{
    flex: 4;
    height: 40px;
    outline: none;
    border: 1px solid #888;
    padding: 0 10px;
    border-radius: 3px;
}
 .msg-tex button{
    flex: 1;
    max-width: 120px;
    cursor: pointer;
    color: rgb(81, 184, 243);
}
.container{
    margin-top: 10px;
}

.jumbotron h2{
    color: black;

}
#log{
    font-size: 50px;
    box-shadow: inset 13px;

}
#formArea{
    display: none;
}
.jumbotron{
    width: 50%;
    margin: auto;
    border-radius: 11px;
    display: flex;
    box-shadow: 3px 10px 28px #0b2a5b;
    overflow: hidden;
    border: 1px solid #0b2a5b;
    background: #7292c4;
    margin-top: 70px;
    margin-bottom: 20px;
}
.jumb{
    background: gray;
    box-shadow: 5px 3px 5px 6px #111;
    border: 1px solid rgb(15, 15, 83);
    border-radius: 10px;
}
header{
            text-align: center;
            border-bottom: 4px solid black;
            color: gray;
}
#loginUser{
    box-shadow: 1px 1px 1px 1px rgb(92, 128, 173);
    margin-left: 20px;
}
#name, #logPass{
    width: 70%;
}
.err{
    color: red;
}
